.header
{
    background-color: black;
}

.nav a
{
    color: gray;
    margin-top: 10px;
    margin-left: 50px;
    padding: 1rem;
    word-spacing: -1px;
    font-size:18px;
    
    
}

h1
{
    margin-top: 70px;
    margin-left: 50px;
    font-size:72px;
}

h2{
    margin-top:-60px;
    margin-left: 50px;
    font-size:72px;
}

p1
{
    margin-top:-30px;
    margin-left: 50px;
    font-size:20px;
}
p2
{
    margin-top:-30px;
    margin-left: 50px;
    font-size:20px;
}
p3
{
    margin-top:-30px;
    margin-left: 50px;
    font-size:20px;
}

.button
{   
    width:120px;
    height:40px;
    border: 2px solid orangered;
    margin-top: 20px;
    margin-left: 150px;
    
    font-size: 18px;
}

.button1
{
    width:150px;
    height:50px;
    color: white;
    background-color: orangered;
    border: 1px solid white;
    margin-top: 30px;
    font-size: 18px;
    margin-left: 50px;
    
}

.button1:hover {
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
  }

  .button:hover {
    background-color: #000a14;
    color: white;
    border: 1px solid white;
  }

  .nav a:hover {
    background-color: white;
    color: orangered;
  }

  .room
  {
    margin-top:-470px;
    margin-left: 630px;
  }
  .home{
    overflow-x: auto;
  }

  .home-content{
    margin-top: 0;
    background-color: black;
  }
h3{
    
    text-align: center;
}

  
.p4
{
    text-align: center;
}
.grid-container
{
    margin-top: 50px;
    margin-left: 70px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    row-gap: 50px;
    grid-column-gap: 50px;
    padding: 10px;
}
.grid-item
{
    width: 300px;
    height: 350px;
    background-color: white ;
    border: 2px solid black;
}

.icon1
{
    width: 100px;
    margin-left: 120px;
    margin-top: 70px;
}
.icon2
{
    width: 100px;
    margin-left: 120px;
    margin-top: 70px;
}
.icon3
{
    width: 100px;
    margin-left: 120px;
    margin-top: 70px;
}
.icon4
{
    width: 100px;
    margin-left: 120px;
    margin-top: 70px;
}
h4
{
    margin-top: 170px;
    text-align: center;
    
}